html,
body {
    font-family: 'Andale Mono', 'Courier New', Courier, monospace;
    font-size: medium;
    line-height: 140%;
    height: 100%;
    min-width: 1000px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}


/* header begin */

.red {
    color: red;
}

#site_header {
    margin: 0px;
    background-color: black;
    height: 170px;
}

#site_header h1 {
    padding-top: 110px;
    padding-left: 70px;
    padding-bottom: 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

#site_header_left_hand {
    position: absolute;
    top: 25px;
    left: 125px;
}

#site_header_right_hand {
    position: absolute;
    top: 25px;
    right: 125px;
}


/* header end */


/* link style begin */

a:link {
    color: red;
}

a:visited {
    color: blue;
}


/* link style end */


/* navbar begin */

nav {
    margin-left: 50px;
    margin-top: -35px;
    display: table;
}

nav ul {
    padding: 5px;
    border-style: solid;
    background-color: white;
    border-color: gray;
    border-radius: 10px;
    border-width: 2px;
}

nav ul li {
    display: inline;
}

nav ul li a:link,
nav ul li a:visited {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

nav ul li a.selected {
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 2px;
    font-weight: bolder;
    color: red;
}

nav ul li a:hover {
    background-color: black;
    color: white;
}

nav ul li a {
    padding: 5px;
}


/* navbar end */


/* GENERAL STYLING BEGIN */

#books {
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
}

.book_image_right {
    float: right;
    margin-left: 10px;
}

hr {
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    ;
}

blockquote {
    text-align: center;
    padding: 10px;
    font-weight: bold;
    margin-left: 20%;
    margin-right: 20%;
}

article header {
    font-weight: bold;
}

main {
    display: table-row;
    background-color: white;
    min-height: 100%;
}

.bold {
    font-weight: bold;
}


/* GENERAL STYLING END */


/* indexpage design begin */

#container {
    height: 100%;
}

#table {
    display: table;
    border-spacing: 10px;
}

section#about_de {
    display: table-cell;
    padding: 10px;
}

#about_de img {
    float: right;
    border: none;
}

section#about_en {
    display: table-cell;
    padding: 10px;
}

#about_en img {
    float: right;
    border: none;
}


/* indexpage design end */