html,
body {
    font-family: 'Andale Mono', 'Courier New', Courier, monospace;
    font-size: medium;
    line-height: 140%;
    min-width: 800px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}


/* header begin */

#site_header {
    text-align: center;
}


/* header end */

article img {
    text-align: center;
    padding: 0% 20% 0% 20%;
}


/* link style begin */

a:link {
    color: red;
}

a:visited {
    color: blue;
}


/* link style end */


/* navbar begin */

nav {
    margin-top: -20px;
    width: auto;
}

nav ul {
    padding: 0px 5px 0px 5px;
    border-style: solid;
    background-color: black;
    border-width: 2px;
}

nav ul li {
    display: inline;
}

nav ul li a:link,
nav ul li a:visited {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

nav ul li a.selected {
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 2px;
    font-weight: bolder;
    color: red;
}

nav ul li a:hover {
    background-color: white;
    color: black;
}

nav ul li a {
    padding: 5px;
}


/* navbar end */


/* GENERAL STYLING BEGIN */

#books {
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
}

.book_image_right {
    float: right;
    margin-left: 10px;
}

hr {
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    ;
}

blockquote {
    text-align: center;
    padding: 10px;
    font-weight: bold;
    margin-left: 20%;
    margin-right: 20%;
}

article header {
    font-weight: bold;
}

article {
    margin-left: 10%;
    margin-right: 10%;
}

.bold {
    font-weight: bold;
}


/* GENERAL STYLING END */


/* indexpage design begin */

.table {
    display: table;
}

.row {
    display: table-row;
}

#about_de img {
    float: right;
    border: none;
    ;
}

#about_en img {
    float: right;
    border: none;
}

#about_en {
    display: table-cell;
    padding: 10px;
    border-spacing: 10px;
}

#about_de {
    display: table-cell;
    padding: 10px;
    border-spacing: 10px;
}


/* indexpage design end */